<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="GET" action="action.php">
        First Name: <input type="text" required name="firstname"><br>
        Last Name : <input type="text" required name="lastname"><br>
        Email     : <input type="email" required name="emale"><br>
        Password  : <input type="password" minlength="10" name="password"><br>
        Your birthdate (optional): <input type="date" name="firstname" name="birthdate"><br>
        Gender (optional): <input type="radio" name="gender" value="Male">Male <input type="radio" name="gender" value="Female">Female<input type="radio" name="gender" value="Other">Other <br>
        Family (optional): <input type="checkbox" name="spouse">Spouse <input type="checkbox" name="children">Children <input type="checkbox" name="pets">Pets<br><br>
        <input type="submit" value="Submit">
        <input type="reset">
   </form>
</body>
</html>